<div class="header-top">
    <div class="container">
        <div class="row">
          <div class="col-md-6 logo">
            <img src="../assets/img/coforge_Logo.png" alt="">
          </div>
          <div class="col-md-6">
            <p>
              
              <button (click)="login()" style="margin: 8px 8px 8px 0;color:#F69230;font-size:17px;" mat-stroked-button color="primary">Login</button>
              <button (click)="signup()" style="margin: 8px 8px 8px 0;color:#F69230;font-size:17px;"  mat-stroked-button color="primary">SignUp</button>
              <button (click)="adminLogin()" style="margin: 8px 8px 8px 0;color:#F69230;font-size:17px;"  mat-stroked-button color="primary">Admin Login</button>
              <!-- <button (click)="busRoute()" style="margin: 8px 8px 8px 0;color:#F69230;font-size:17px;"  mat-stroked-button color="primary">Bus Route</button>
              <button (click)="busRoute()" style="margin: 8px 8px 8px 0;color:#F69230;font-size:17px;"  mat-stroked-button color="primary">Bus Details</button>
              <button (click)="busRoute()" style="margin: 8px 8px 8px 0;color:#F69230;font-size:17px;"  mat-stroked-button color="primary">Driver</button> -->
            </p>
            
          </div>
        </div>
      </div>
      
</div>

<div class="menu">

  <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-7">
      <ul>
        <li [routerLink]=''>Home</li>
  
      </ul>
     </div>

    </div>
  </div>

</div>
