
<div class="menu">

  <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-7">
      <ul>
        <li (click)="home()">Home</li>
         <li (click)="bus()">Bus Details</li>
         <li (click)="driver()">Driver Details</li>
         <li (click)="busroute()">Bus Route</li>
         <li (click)="passanger()">passanger Details</li>
         <li (click)="payment()">payment Details</li>
         <li (click)="booking()">booking Details</li>
      </ul>
     </div>

    </div>
  </div>

</div>
