<!-- <p>bus-booking works!</p>
{{id}} -->
<!-- {{itemList|json}} -->

<div class="container mt-4 row text-center" *ngIf="itemList">
    <div class="row justify-content-center ">
      <div class="col-md-10 ">
          <div class="row text-center">
              <h6 class=" text-capitalize col-md-12 mb-3 text-center">Booking Status</h6>
            </div>
      
        <div class="row mb-3 card card-body text-center" style="width : 70rem;">
  
          <table class="table">
  
            <thead>
              <tr>
                
                  <th>Bus Number</th>
                  <th>Route</th>
                  <th>BookingId</th>
                  <th>Passanger Name</th>
                  <th>Total Fare</th>
                  <th>Booking Date Time</th>
                  <th>Date Of Journey</th>
                  <th>Seat No</th>
                  <th>Payment Status</th>
                  <th>Payment Mode</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
                
                <td> <h6>{{itemList.busId.busNumber}}</h6></td>
                <td>{{itemList.routeId.busRoute}}</td>
                <td>{{itemList.bookingId}}</td>
                <td>{{itemList.passangerDetails.passangerName}}</td>
                <td>{{itemList.totalFare}}</td>
                <td>{{itemList.bookingDateTime}}</td>
                <td>{{itemList.dateOfJourney}}</td>
                <td>{{itemList.seatNo}}</td>
                <td>{{itemList.paymentStatus}}</td>
                <td>
                <div class="form-group col-md-6">
                    
                    <select name="payment" required ngModel class="form-control form-control-sm" style="min-width: 120px; max-width: 120px;">
                      <option value=""  selected="selected">Select Mode</option>
                      <option value="Google Pay">Google Pay</option>
                      <option value="Net Banking">Net Banking</option>
                    </select>
                  </div>
                </td>
                <!-- <ng-template #template>

                <div class="modal-body">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  <select-seat [bus]="b" (closeModal)="closeModal()"></select-seat>
                </div>
            </ng-template>-->
            <td><button   (click)="onClick(itemList.bookingId)" class="btn btn-danger btn-sm">Pay Now</button></td> 
              
    
            </tbody>
          </table>
        </div>
      </div>
    </div>
  