<div class="footer ">

    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-md-6 ">
          <div class="card card-body block" style="height : 21rem;">
            <h4 class="text-center mb-3" style="color:#F69230;font-size:17px;">COVID-19 Guidelines</h4>
          

            
              <b>What precautions should be taken to avoid COVID-19 infection:-</b>

              <ul>

                <li>Keep washing your hands regularly.  Even if your hands are not clearly dirty, wash them with either soap/hand wash or alcohol based hand sanitizer.</li>

                <li>

                  Cover your mouth and nose either with tissue paper or Handkerchief while sneezing and squeezing.

                </li>
                <li>Please dispose the tissue paper in a covered dustbin/box just after use.</li>
                <li>Use face cover or mask to cover up your mouth and nose.</li>
                <li>Avoid crowded areas and maintain physical distance of minimum 2 yards.</li>
                <li><b>If you are having CORONA like symptoms, please contact on state HELPLINE NUMBER 18001805145 or on Ministry of Health, Government of India (24x7) HELPLINE NUMBER 011-23978046.</b></li>
              </ul>





           
                
           
          </div>
        </div>
  
        <div class="col-md-6">
        <div class="card card-body block" >
            <div id="why_buy">                            
                <div class="info_right">
                    <h5 class="text-center mb-3">Why buy tickets from us?</h5>
                    <ul>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Buy bus tickets</b> anytime from anywhere</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Pay by credit card, mobile banking or cash</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Get tickets delivered to your doorstep</li>
                        <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Dependable customer service <b>(8 AM to 11 PM)</b></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
      </div>
      <div class="row pt-5 mb-5 justify-content-center">
        <img src="../assets/img/UPSRTC.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>